<%- include("partials/header") -%>

    <h1 class="a">Hello <%= userName %> !</h1>
    <p>
        <%= startingContent %>
    </p>

    <%  posts.forEach(function(post){ %>

        <h1><%=post.title%></h1>
        <p> <%= post.date.toLocaleDateString() %></p>
        <h5>
            <%=post.content.substring(0,100) + "..."%>
         </h5>

        <br>
        <table style="width:20%" >
            <tr>
                <th><a href="/posts/<%= post._id %>"><button class="btn btn-primary">Read More</button></a></th>
                <th> <form action="/delete"method="post">
                    <button class="btn btn-danger" value="<%= post._id %>" name="erase" onClick="this.form.submit()">Delete</button>
                </form>
             </th>
             <th> <a href="/update/<%=post._id%>">
                <button class="btn btn-info" value="<%= post._id %>" name="edit" >Edit</button>
            </a></th>
                
              </tr>
        </table>
        <br>
    
    <% }) %>

<%- include("partials/footer") -%>
